<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new Campground</title>
</head>
<body> -->
    <% layout('/layouts/Boilerplate') %>
    <div class="row">
        <h1 class="text-center">
            new Campground
        </h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="post"  class="validated-form" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label> <!--array or the collection eg below-->
                    <input  class ="form-control" type="text" id="title"name="campground[title]" required>
                </div>
        
                <div class="mb-3">
                    <label class="form-label"  for="location">location</label> <!--array or the collection eg below-->
                    <input class ="form-control" type="text" id="location"name="campground[location]" required>
                </div>
                <!-- <div class="input-group mb-3">
                    <input type="file" class="form-control" id="image" name="image" multiple>
                    <label class="input-group-text" for="image" id="image" >Browse</label>
                  </div> -->
                <!-- <input type="file" name="image" multiple> -->
              
                <!-- <div class="mb-3"> 
                    <label class="form-label"  for="image">Image</label> 
                    <input class ="form-control" type="text" id="location"name="campground[image]" required>
              </div>  -->
                <div class="mb-3">
                    <label class="form-control" for="price" >Campground price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00"  aria-label="price" aria-describedby="price-label"  name="campground[price]" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="campground[description]" id="description" cols="10" rows="5" class="form-control" required></textarea>
                </div>
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input form-control" id="images" name="image" multiple>
                    <label class="custom-file-label" for="images"></label>
                  </div>
                
                <div class="mb-3">
                    <button class="btn btn-success ">add new Campground</button>


                </div>
                <a href="/campgrounds">all campgrounds</a>
        
        
            </form>
        </div>
    </div>
  
<!--     
</body>
</html> -->